h1, h2, h3, h4, h4{

    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-family: 'poppins', sans-serif;
    color:#212529;

}

h1{
   
    font-size: 62px;
    text-align: center;
    
}

h2{

    text-align: center;
    font-size: 48px;
}

h3{
    
    font-size: 40px;
    
}

h4{
    
    font-size: 32px;
   
}

h5{

    font-size:24px;
    
}

p,a {

    font-weight: 400;
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    color: #495057;
}

p{
    
    font-size: 20px;
}

a{
    text-decoration: none;
    font-size: 16px;

}

ul{
    list-style: none;
}